.navbar-brand{
    color: var(--azul-roxo);
    font-weight: 700;
}
.navbar-brand:hover{
    color: var(--azul-roxo);
    font-weight: 700;
}
.destque{
    background-color: var(--azul-roxo);
    color: #fff;
    padding: 1px 5px;
    border-radius: 20px;
}