.navbar-brand{
    color: #6F7AAB;
    font-weight: 700;
}
.navbar-brand:hover{
    color: #6F7AAB;
    font-weight: 700;
}
.destque{
    background-color: #6F7AAB;
    color: #fff;
    padding: 1px 5px;
    border-radius: 20px;
}